//Profile config names for nf-core/configs
params {
  config_profile_description = 'Norwich Research Park HPC Config'
  config_profile_contact = 'Andrea Telatin @telatin'
  config_profile_url = 'http://github.com/telatin'

 
  params.kraken2db        = '/qib/platforms/Informatics/transfer/outgoing/databases/kraken2/kraken2_db_20190111'
  params.kraken2secondary = '/qib/platforms/Informatics/transfer/outgoing/databases/kraken2/k2_plusPFP_2020_09'
  params.metaphlandb      = '/qib/platforms/Informatics/transfer/outgoing/gmh/databases/metaphlan_databases/'
  params.chocophlan       = '/qib/platforms/Informatics/transfer/outgoing/gmh/databases/chocophlan/'
  params.uniref           = '/qib/platforms/Informatics/transfer/outgoing/gmh/databases/uniref/'  
}

process {
  beforeScript = 'source package gmhtools-last'
  executor     = 'slurm'
  queue        = { task.time <= 2.h ? 'nbi-short,qib-short' : task.time <= 48.h ? 'qib-medium,nbi-medium' : 'qib-long,nbi-long' }

}

singularity {
  enabled = true
  cacheDir = '/qib/platforms/Informatics/transfer/outgoing/singularity/'
}

params {
  params.max_time = 6.d
  params.max_cpus = 128
  params.max_memory = 1.TB
}
