params {
  params.reads   = "./test_input/*_R{1,2}.fastq.gz"
  params.outdir  = "./test_output"


  params.kraken2db        = '/home/ubuntu/informatics/transfer/outgoing/databases/kraken2/mini/'
  params.skip_kraken_secondary = true
  params.metaphlandb      = '/home/ubuntu/informatics/GMH/databases/metaphlan_databases'
}
