params {
  config_profile_name        = 'QIB_VM'
  config_profile_description = 'VM parameters'
  singleEnd = false

  // Limit resources so that this can run on Travis
  max_cpus   = 16
  max_memory = 220.GB
  max_time   = 20.h

  params.tempdir = "./tmp_dir"
  params.outdir  = "./magenta_output/"


  params.kraken2db        = '/home/ubuntu/informatics/transfer/outgoing/databases/kraken2/kraken2_db_20190111'
  params.kraken2secondary = '/home/ubuntu/informatics/transfer/outgoing/databases/kraken2/k2_plusPFP_2020_09'
  params.metaphlandb      = '/home/ubuntu/informatics/transfer/outgoing/gmh/databases/metaphlan_databases/'
  params.chocophlan       = '/home/ubuntu/informatics/transfer/outgoing/gmh/databases/chocophlan/'
  params.uniref           = '/home/ubuntu/informatics/transfer/outgoing/gmh/databases/uniref/'  
}

process {
  executor     = 'local'
}
