params {
  config_profile_name        = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on Travis
  max_cpus   = 1
  max_memory = 8.GB
  max_time   = 6.h
  params.reads   = "./test_input/*_R{1,2}.fastq.gz"
  params.outdir  = "./test_output"
  params.tempdir = "./tmp_dir"
  singleEnd = false
  params.kraken2db        = '/qib/platforms/Informatics/databases/kraken2/mini/'
  params.kraken2secondary = '/qib/platforms/Informatics/databases/kraken2/mini/'
}

process {
  executor     = 'local'
}
