params {
  config_profile_name        = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on Travis
  max_cpus   = 16
  max_memory = 220.GB
  max_time   = 20.h
  params.reads   = "./test_input/*_R{1,2}.fastq.gz"
  params.outdir  = "./test_output"
  params.tempdir = "./tmp_dir"
  singleEnd = false
  params.kraken2db        = '/home/ubuntu/informatics/databases/kraken2/mini/'
  params.kraken2secondary = '/home/ubuntu/informatics/databases/kraken2/mini/'
  params.metaphlandb      = '/home/ubuntu/informatics/GMH/databases/metaphlan_databases'
}

process {
  executor     = 'local'
}
